
  
  
  .dropdown {
    float: left;
    overflow: hidden;
    display: flex;
    height: 70px;
    transition: 0.7s;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 26px;  
    border: none;
    outline: none;
    color: rgb(15, 12, 12);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    transition: 0.7s;
  }
  .dropdown .dropbtn div{
    width: 55px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  transition: 0.7s;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: red;
    border-style: solid;
    
  }
 
  
  .dropdown-content {
    display: none;
    position: absolute;
    
    min-width: 60px;
    transition: 0.7s;
   
    z-index: 1;
  }
  
  
  
  
  
  
  .show {
    display: block;
  }
  #btn-red{
  float: none;
  color: green;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: red;
  width: 100%;
  font-size: 26px;
  font-weight: 700;
  border-color: black;
    border-style: solid;
    
  
}
#btn-green{
    float: none;
    color: red;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: green;
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    border-color: black;
    border-style: solid;
  }
  #btn-blue{
    float: none;
    color: red;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: blue;
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    border-color: black;
    border-style: solid;
  }
  #btn-yellow{
    float: left;
    color: red;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: yellow;
    width: 100%;
    font-size: 26px;
    font-weight: 700;
    border-color: black;
    border-style: solid;
      }
      