body{
    color: cornsilk;
    background-color: coral;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 2em;
}
.container{
    width: 95%;
    margin: auto;
}
.box-1{
    background-color: darkmagenta;
    color: floralwhite;
    border-right: 5px rgb(105, 219, 111) solid;
    border-left: 5px rgb(105, 219, 111) solid;
    border-bottom: 5px red solid;
    border-top: 5px red solid;

    padding:20px;
    margin: 20px;

}
.box-1 h1{
    font-weight: 800;
}
.box-2{
    background-color: rgb(0, 139, 35);
    color: floralwhite;
    
    border: 5px red solid;

    padding:20px;
    margin: 20px;
}
.lijst{
    border: 5px;
    padding:20px;
    
}
.lijst h2{
    text-align: center;
    background-color: rgb(204, 33, 56);
    border: 5px rgb(5, 145, 35) solid;

    

}
.lijst ul{
    list-style: none;
    padding:zero;
}
.lijst li{
    background-color: rgb(220, 243, 9);
    border:5px yellow;
    display: inline;
    
}
.inschrijven{
    padding:20px;

}
.inschrijven h1{
    text-align: center;
    background-color: rgb(32, 97, 170);
    border: 5px rgb(238, 223, 9) solid;

}
.formulier input{
    padding-bottom: 15px;
    width: 100%;
    
}
